<footer class="site-footer">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-4 footer-intro">
				<span class="footer-title">{{ site.title }}</span>
				<p><a href="mailto:nguyetduong.minh@gmail.com">{{ site.email }}</a></p>

				<p>{ <a href="/about/">about me</a> } { <a href="/site-management/2015/07/31/this-blog-and-me.html">about blog</a> }</p>
			</div>
			<div class="col-md-4 footer-connect">
				<p><a href="https://github.com/nguyetduong" target="_blank"><img width="10%" src="/assets/media/connect/white/github.png"> nguyetduong</a></p>
        		<p><a href="https://www.linkedin.com/in/nguyetduong" target="_blank"><img width="10%" src="/assets/media/connect/white/linkedin.png"> nguyetduong</a></p>
        		<p><a href="https://twitter.com/sinnto" target="_blank"><img width="10%" src="/assets/media/connect/white/twitter.png"> sinnto</a></p>
			</div>
			<div class="col-md-4">
				<p>
					A wild bobaholic (and apparently Starbucks now too) on the loose, writing sarcastic, and thoughtful reflections about her life.
				</p>
				<p>
					<p class="rss-subscribe">follow me <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
					<br>
					follow me <a href="http://www.bloglovin.com/blog/14329265/?claim=enzvzch53e2">via BlogLovin'</a>
					<br>
					follow me <!-- Trigger the modal with a button -->
					<button type="button" class="rss-subscribe btn btn-link btn-md" data-toggle="modal" data-target="#myModal">via email</button>

					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">

					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title">Subscribe!</h4>
					      </div>
					      <div class="modal-body">
					        <p><center><div id="SubscriptionBoxFooter"><input id="emailInputFooter" type="text" value="email address" name="Email" id="Email" autocorrect="off" autocapitalize="off"
							 onblur="if (this.value == '') {this.value = 'email address';}"
							 onfocus="if (this.value == 'email address') {this.value = '';}" /> <button onclick="submitFooter();">Submit</button></div>
							 	<div id="SubscriptionCompleteFooter" style="display:none">Success! Thank you for subscribing to my blog. You will receive an email everytime a new post is uploaded.</div>

								</center></p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>

					  </div>
					</div>
				</p>
			</div>
		</div>
	</div>
</footer>