<header class="site-header-general">
	<a class="site-header-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
	<br>
	<span class="site-header-tag">{{ site.tag }}</span>
		
	<nav class="navbar navbar-custom navbar-static-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    	</button>
	 	</div>
	  	<div class="collapse navbar-collapse">
	    	<ul class="nav navbar-nav navbar-undercase">
	      		<li><a href="/about/">about</a></li>
	      		<li><a href="/archive/">archive</a></li>
	      		<li><a href="/contact/">contact</a></li>
	      		<li><a href="https://github.com/nguyetduong" target="_blank">github</a></li>
	      		<li><a href="/projects/">projects</a></li>
        		<li><a href="/resume.pdf" target="_blank">resume</a></li>
	    	</ul>
	  	</div>
	</nav> 

</header>