<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<title>{{ site.title }}</title>
	
	<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
	
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">

	<script src="/assets/jquery.min.js"></script>
	<script src="/assets/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" async defer  data-pin-color="red" data-pin-height="28" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
	<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>

	<script type="text/javascript">
    Parse.initialize("RVDiJt93x1zEUyVb153XYrhfvOTrjQkAIhlgznIE", "zFq5GEwLU8dZGe3vxdUPrI4eEYnf2Vg4wzkjNteP");

    $( document ).ready(function() {
	});
  </script>

  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-67911809-1', 'auto');
	  ga('send', 'pageview');

	</script>
  <script type="text/javascript" src="/assets/code.js"></script>
</head>