<div class="style-bar hidden-xs col-md-10">
	<!-- ABOUT ME --> 
	<h3 class="style-bar">Subscribe</h3>
		<center><div id="SubscriptionBox"><input id="emailInput" type="text" value="email address" name="Email" id="Email"
 onblur="if (this.value == '') {this.value = 'email address';}"
 onfocus="if (this.value == 'email address') {this.value = '';}" /> <button onclick="submit();">Submit</button></div>
 	<div id="SubscriptionComplete" style="display:none">Success! Thank you for subscribing to my blog. You will receive an email everytime a new post is uploaded.</div>

	</center>
	
	<h3 class="style-bar">About Me</h3>
	<img src="/assets/media/selfie.png" class="selfie">

	<p>A wild bobaholic (and apparently Starbucks now too) on the loose, writing sarcastic, and thoughtful reflections about her life. </p>
	<p class="about-links">{ <a href="/about/">about me</a> } { <a href="/site-management/2015/07/31/this-blog-and-me.html">about blog</a> } </p>
	<p><center>
		<a href="https://github.com/nguyetduong" target="_blank"><img width="15%" src="/assets/media/connect/github.png"></a>
		<a href="https://instagram.com/sinnto/" target="_blank"><img width="15%" src="/assets/media/connect/instagram.png"></a>
		<a href="https://www.linkedin.com/in/nguyetduong" target="_blank"><img width="15%" src="/assets/media/connect/linkedin.png"></a>
		<a href="https://twitter.com/sinnto" target="_blank"><img width="15%" src="/assets/media/connect/twitter.png"></a>
	</center></p>
	<p><center>
		<a href="http://feeds.feedburner.com/mimiduong" target="_blank"><img width="15%" src="/assets/media/connect/rss.png"></a>
		<a href="http://www.bloglovin.com/blog/14329265/?claim=enzvzch53e2" target="_blank"><img width="15%" src="/assets/media/connect/bloglovin.png"></a>
	</center></p>
	<!-- END OF ABOUT ME -->

	<!-- RECENT POSTS -->
    <h3 class="style-bar">Recent Posts</h3>
    <ul class="bar-content">
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <!-- END OF RECENT POSTS -->
</div>