/* ----- Specifics for the entire page ----- */
* {
	margin: auto 0;
}

html {
	min-height: 100%;
	background-color: #fff;
	background-image: url("/assets/media/bg.png");
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 14pt;
}

body {
	min-height: 100%;
	background-color: #fff;
	width: 90%;
	margin: 0px auto;
}



a:link {
	color: #9ec4bb;
	text-decoration: none;
}

a:hover {
	color: #62cfc9;
	text-decoration: none;
}

a:visited {
	color: #9ec4bb;
	text-decoration: none;
}

a:active {
	color: #9ec4bb;
	text-decoration: none;
}

/* ----- Header ----- */
.site-header-general {
	width: 100%;
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: #2d2e2c;
	padding-top: 120px;
}

.site-header-general a {
	color: #2d2e2c;
	text-decoration: none;
}

.site-header-title {
	/*font-size: 35pt;
	letter-spacing: 1pt;*/
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 36pt;
	letter-spacing: 2pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
}

.site-header-tag {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13pt;
	letter-spacing: 0.5pt;
}

/* ------ Navigation ------ */
.navbar-custom {
	background-color:#2d2e2c;
    color:#ddd;
  	border-radius:0;
  	margin-top: 40px;
}

.navbar-custom .navbar-nav {
	display: inline-block;
  	float: none;
  	vertical-align: top;
}

.navbar-custom .navbar-collapse {
	text-align: center;
}

.navbar-custom .navbar-nav > li > a {
  	color:#ddd;
  	padding-left:20px;
  	padding-right:20px;
  	text-align: center;
  	font-size: 14pt;
  	letter-spacing: 1pt;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #2d2e2c;
}
      
.navbar-custom .navbar-brand {
  	color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  	background-color:#2d2e2c;
}
.navbar-custom .icon-bar {
  	background-color:#ddd;
}

.navbar-undercase {
	text-transform: lowercase;
}

/* ------ Popup Subscription ------- */

.btn-link {
	color: #9ec4bb;
	font-family: 'Helvetica Neue', serif;
	font-size: 11pt;
	font-weight: 100;
	margin-left: -12px;
	margin-top: -3px;
}

.btn-link:hover {
	color: #9ec4bb;
	text-decoration: none;
}

.modal-title {
	color: #2d2e2c;
}

.modal-body {
	color: #000;
}

/* ------ Post ------- */

.content {
	font-family: font-family: 'Helvetica Neue', serif;
	width: 100%;
	background-color: #fff;
	padding-bottom: 100px;
	padding-top: 5px;
}

.content h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 30px;
	letter-spacing: 2pt;
	font-style: italic;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
}

.content h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 2pt;
	font-style: italic;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
}

.content h4 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 22px;
	letter-spacing: 2pt;
	font-style: italic;
	font-variant: normal;
	font-weight: 300;
	/*line-height: 30px;*/
	margin-bottom: auto;
	color: #2d2e2c;
}



.content a {
	color: #2d2e2c;
}

.content a:hover {
	color: #62cfc9;
}

.content-text {
	font-family: font-family: 'Helvetica', serif;
	font-size: 12pt;
	font-weight: 200;
	display: inline-block;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}

.content-text a {
	color: #9ec4bb;
}

.content-text a:hover {
	color: #62cfc9;
}

.content-date {
	font-size: 12pt;
}


.content-page {
	padding-bottom: 200px;
}

.content img {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* ----- Sidebar ----- */
.style-bar {
	font-family: 'Helvetica', serif;
	font-size: 11pt;
	font-weight: 200;
	padding-bottom: 100px;
}

.style-bar h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-variant: normal;
	font-weight: 200;
	line-height: 30px;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 1px dashed #2d2e2c;
}

.bar-content {
	margin-top: 10px;
	padding-left: 30px;
}

.selfie {
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border: 2px solid #737671;
	margin-bottom: 20px;
}

.about-links {
	text-align: center;
}

.tag-cloud {
	display: block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tag-cloud li {
	display: inline;
}

/* ----- Footer ----- */
.site-footer {
	background-color: #2d2e2c;
	color: #ddd;
	font-family: 'Helvetica Neue', serif;
	font-size: 11pt;
	font-weight: 100;
	padding-top: 25px;
	padding-bottom: 50px;
}

.footer-title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: 100;
}


.footer-connect {
	color: #ddd;
	word-spacing: 10pt;
}

/* ----- Code Format ----- */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: #eef;
    /*font-family: 'Anonymous Pro', ;*/
    margin: 5px 5px 5px 5px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 12px 12px;
    overflow-x: scroll;
    border: 1px solid #ddd;

    > code {
        border: 0px;
        padding-right: 0;
        padding-left: 0;
    }
}

/* ----- Code Syntax Highlighting ----- */
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */