<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}

	<body>
		{% include header.html %}

 		<div class="container-fluid">
		    <div class="row-fluid">
		        
		        
			    <div class="col-md-2">
			      <div class="content">{% for post in site.posts limit: 5 %}
						<a class="title-link" href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
						<p class="content-date">{{ post.date | date: "%d %B %Y"}} {% if post.tags %}•{% endif %} {% for tag in post.tags %}<a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %} {% endif %} {% endfor %}</p>
						<p class="content-date"></p>
						
						<span class="content-text">
							<p class="content-text">{{ post.content | truncatehtml | truncatewords: 90 }} 
							<span style="float:right; text-decoration: none;">
								<a href="{{ post.url }}"><i><br>read more</i></a></span>
							</p>
						</span>
					{% endfor %}
				</div>
			    </div>
			    {% include sidebar.html %}
			</div>
		</div>
		
		{% include footer.html %}		
		
	</body>

</html>