<!DOCTYPE html>
<html>
	
	{% include head.html %}

	<body>
		{% include header.html %}

 		<div class="container-fluid">
		    <div class="row-fluid">
			    <div class="col-md-2">
			      <div class="content">
						<h3>{{ page.title }}</h3>
						<p class="content-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
						<span class="content-text">
							<p class="content-text">{{ content }}</p>
						</span>
				</div>
			    </div>

			    {% include sidebar.html %}
			</div>
		</div>
		
		{% include footer.html %}		
		
	</body>

</html>