<!DOCTYPE html>
<html>
	
	{% include head.html %}

	<body>
		<div class="container-fluid">
 		
		    <div class="row-fluid">
				{% include header.html %}

				
			    <div class="col-md-2">
			      <div class="content">
						<h2>{{ page.title }}</h2>
						
						<p class="content-date">{{ page.date | date: "%d %B %Y"}} {% if page.tags %}•{% endif %} {% for tag in page.tags %}<a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %} {% endif %} {% endfor %}</p>
						

						<span class="content-text"><p>{{ content }}</p></span>
						{% include disqus-comments.html %}
				</div>
			    </div>

			    {% include sidebar.html %}
			</div>
		</div>
		
		{% include footer.html %}		
		
	</body>

</html>