<!DOCTYPE html>
<html>
	
	{% include head.html %}

	<body>
		{% include header.html %}

 		<div class="container-fluid">
		    <div class="row-fluid">

			    <div class="col-md-2">
			      <div class="content">
						<h3>{{ page.title }}</h3>
						<br>
						<table class="table">
						<tbody>
							{% for post in site.posts %}	
								{% for tag in post.tags %}
									{% if tag == page.tag %}
										<tr class="content-text">
											<td>
												<h4 style="color:#2d2e2c;"><a href="{{ post.url }}">{{ post.title }}</a></h4>
												<p class="content-date">{{ post.date | date: "%B %e, %Y" }} {% if post.category %}•{% endif %} {{ post.category }} <a href="http://erjjones.github.com{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
												
												<br/><span class="context-text">{{ post.description }}</span>

												<p class="tag-size"><br/><span class="tag-bold">Tags:</span><i class="icon-tags"></i> {% for tag in post.tags %} <a class="icon-tags" href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %}, {% endif %} {% endfor %}</p></p>

												
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							{% endfor %}			
						</tbody>
						</table> 
						<p class="content-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
						<span class="content-text">
							<p class="content-text">{{ content }}</p>
						</span>
				</div>
			    </div>
			    {% include sidebar.html %}
			</div>
		</div>
		
		{% include footer.html %}		
		
	</body>

</html>

